<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Materialart Admin Template</title>
    <link href="~/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.css" rel="stylesheet">
    <link href="~/dist/css/pages/footable-page.css" rel="stylesheet">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="~/Styles/site.css" rel="stylesheet" />


</head>
<body>
    @*
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    *@
    <div class="main-wrapper" id="main-wrapper">
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Material Admin</p>
            </div>
        </div>
        @{Html.RenderAction("Menu", "Layout");}
        <div class="page-wrapper">
            @RenderBody()
            @*<footer class="center-align m-b-30">All Rights Reserved by Materialart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.</footer>*@
        </div>
        <div class="chat-windows "></div>
    </div>


    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/js/materialize.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/dist/js/app.js"></script>
    <script src="~/dist/js/app.init.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/assets/extra-libs/prism/prism.js"></script>
    <script src="~/assets/libs/footable/dist/footable.all.min.js"></script>
    <script src="~/dist/js/pages/footable/footable-init.js"></script>
    <script src="~/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweet-alert.init.js"></script>
    <script>
    window.onload = function() {
        var showContent = '@ViewBag.showContent';
        if (showContent === 'False') { // 'False' string olarak kontrol edilir.
            var mainWrapper = document.getElementById('main-wrapper');
            mainWrapper.style.height = '100vh';
        }
    };
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
